@use '../../utils/variables';

.main {
    padding: 0 0 0 260px;
    min-height: 671px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.main__container {
    max-width: 531px;
    width: 100%;
    min-height: 545px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.main__title {
    font-family: variables.$primary-font;
    font-size: 52px;
    font-weight: bold;
    line-height: 55px;
    text-align: left;
    color: variables.$colorBlack;
    max-width: 531px;
    width: 100%;
    margin: 0 0 48px 0;
}

.main__text {
    font-family: variables.$primary-font;
    font-size: 23px;
    font-weight: lighter;
    line-height: 32px;
    text-align: left;
    color: variables.$colorGrey;
    max-width: 427px;
    width: 100%;
    margin: 0 0 121px 0;
}

.main__button {
    font-family: variables.$primary-font;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    width: 306px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$colorSecondBlack;
    border: none;
    border-radius: 5px;
}

.main__image {
    max-width: 1123px;
    width: 100%;
    min-height: 737px;
    position: absolute;
    z-index: 0;
    right: 0;
    top: 204px;
}