$colorBlack: #000;
$colorWhite: #fff;
$colorGrey: #646464;
$colorSecondBlack: #2A2A2A;
$colorFontGrey: #6F6F6F;
$colorBackground: rgba(89, 89, 89, 0.81);

$primary-font: 'SF UI Display', sans-serif;
$second-font: 'Tilda Sans VF';